html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


html {
    min-height: 100%;
    height: 100%;
    font-size: 14px;
}

body {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

.container {
    min-height: 100%;
    width: fit-content;
    margin: 0 auto;
    padding: 4em 2em;
}

code {
    display: block !important;
    color: #666;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: pre !important;
    background: transparent !important;
}

a {
    color: #37f;
    font-weight: bold;
}